
<%- include("partials/header")%>
<%- include("partials/navbar") %>
<div class="cards">
    <% posts.forEach(function(post){ %>
        <!--  -->
        <div class="card">
            <img src="<%= post.image%>" alt="" />
            <div class="content">
                <h1><%= post.heading%></h1>
                <p>
                    <%= post.para %></p>
                    <button>Explore More</button>
                </p>
            </div>
        </div>
        <!--  -->
        <% })%>
    </div>
    <%- include("partials/footer")%>
    
