<%- include("partials/header")%>
<body>
    <%- include("partials/navbar") %>
    <h1>This is product page</h1>
    <button><a href="/create-product">create product</a></button>
    <div class="cards">
        <% posts.forEach(function(post, index){ %>
            <!--  -->
            <div class="card">
                <img src="<%= post.image%>" alt="" />
                <div class="content">
                    <h1><%= post.heading%></h1>
                    <p>
                        <%= post.para %></p>
                        <button><a href="/update-product/<%= index %>">upadte</a></button>
                        <button><a href="/delete-product/<%= index %>">delete</a></button>
                    </p>
                </div>
            </div>
            <!--  -->
            <% })%>
        </div>
    <%- include("partials/footer")%>