<%- include("particals/header.ejs")%>
    <%- include("particals/nav.ejs")%>

        <form action="" class="container" accept="/update/<%= user._id %>" method="post">
            <h1>update user</h1>
            username <input name="username" type="text" value="<%= user.username %>" class="form-control w-50 mb-3">
            Email: <input name="email" type="email" value="<%= user.email %>" class="form-control w-50 mb-3">
            password: <input name="password" type="password" disabled class="form-control w-50 mb-3">
            <button class="btn btn-primary">update user</button>
            
        </form>

        <%- include("particals/footer.ejs")%>